In [1]:
#coding utf-8
#import packages
import numpy as np
import pandas as pd
from sklearn.kernel_ridge import KernelRidge
from sklearn import preprocessing

In [2]:
data = pd.read_csv("8_1_All.csv")
data.head(5)

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65.0,8450,7,5,2003,196.0,706,0,...,0,0,0,0,1,0,0,0,1,0
1,2,20,80.0,9600,6,8,1976,0.0,978,0,...,0,0,0,0,1,0,0,0,1,0
2,3,60,68.0,11250,7,5,2002,162.0,486,0,...,0,0,0,0,1,0,0,0,1,0
3,4,70,60.0,9550,7,5,1970,0.0,216,0,...,0,0,0,0,1,0,0,0,0,0
4,5,60,84.0,14260,8,5,2000,350.0,655,0,...,0,0,0,0,1,0,0,0,1,0

In [3]:
data = data.drop(["Id"],axis=1)
data = data.drop(["LogSalePrice"],axis=1)
data = data.drop(["YearRemodAdd"],axis=1)

In [5]:
x = data.drop(["SalePrice"],axis=1)
x = preprocessing.scale(x)
y = data["SalePrice"]
train_x = x[0:1158]
train_y = y[0:1158]
test_x = x[1158:1458]
test_y = y[1158:1458]

In [14]:
model_KRR = KernelRidge(alpha=4,kernel="polynomial",degree=3,coef0=4)

In [15]:
model_KRR.fit(train_x,train_y)
y_pred = model_KRR.predict(test_x)
y_true = test_y
MSE = sum((y_true-y_pred)*(y_true-y_pred))/300
RMSE = np.sqrt(MSE)
RMSE

22411.462732571843

In [16]:
y_pred = pd.DataFrame(y_pred)
y_pred.to_csv("KRR.txt",index=False)

In [20]:
model_GBR.fit(train_x,train_y)
y_pred = model_GBR.predict(test_x)
price_pred=[]
for i in range(0,300):
    price_pred.append(np.exp(y_pred[i]))
price_true = price[1158:1458]
MSE = sum((price_true-price_pred)*(price_true-price_pred))/300
RMSE = np.sqrt(MSE)
RMSE

23151.753206311609

In [12]:
train_data.shape

(1158, 305)