In [23]:
import numpy as np
import pandas as pd
data = pd.read_csv("compare.csv")
data.head(5)

   Id     SalePrice     PredPrice  RealPrice
0   1   68023.78813   20045.79997      85000
1   2  199249.48370  211805.09560     235000
2   3  120657.57370   96319.01589     127000
3   4  284191.16380  310456.25870     277000
4   5  237330.37110  243080.66180     280000

In [24]:
y0 = data["RealPrice"]
y1 = data["PredPrice"]
y2 = data["SalePrice"]

In [25]:
r1 = sum((y0-y1)*(y0-y1))/300
r1 = np.sqrt(r1)
r1

29610.494173581075

In [26]:
r2 = sum((y0-y2)*(y0-y2))/300
r2 = np.sqrt(r2)
r2

20293.87772196201

In [27]:
r = sum((y2-y1)*(y2-y1))/300
r = np.sqrt(r)
r

21674.246273202807

In [28]:
t = (r*r+r2*r2-r1*r1)/(2*r*r)
y = t*y1+(1-t)*y2
r0 = sum((y0-y)*(y0-y))/300
r0 = np.sqrt(r0)
r0

20293.57145193882

In [30]:
y.to_csv("weighted_ave.csv")