In [1]:
#coding utf-8
#import packages
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.metrics import r2_score
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.cross_validation import cross_val_score

c:\users\windows7\appdata\local\programs\python\python35\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
train_x = pd.read_csv("train_x2.csv")

,Id,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,MSSubClass_85,MSSubClass_90,MSSubClass_120,MSSubClass_160,MSSubClass_180,MSSubClass_190,YrSold_2007,YrSold_2008,YrSold_2009,YrSold_2010
0,1,65.0,8450,7,5,2003,2003,196,706,0,...,0,0,0,0,0,0,0,1,0,0
1,2,80.0,9600,6,8,1976,1976,0,978,0,...,0,0,0,0,0,0,1,0,0,0
2,3,68.0,11250,7,5,2001,2002,162,486,0,...,0,0,0,0,0,0,0,1,0,0
3,4,60.0,9550,7,5,1915,1970,0,216,0,...,0,0,0,0,0,0,0,0,0,0
4,5,84.0,14260,8,5,2000,2000,350,655,0,...,0,0,0,0,0,0,0,1,0,0

In [3]:
data = data.drop(["Id"],axis=1)
data = data.drop(["logPrice"],axis=1)
#data = data.drop(["YearBuilt"],axis=1)
data = data.drop(["YearRemodAdd"],axis=1)
data = data.drop(["GarageYrBlt"],axis=1)
data = data.drop(["SaleAgesq"],axis=1)
#data = data.drop(["SaleAge"],axis=1)
#data = data.drop(["LotFrontage"],axis=1)
#data = data.drop(["MasVnrArea"],axis=1)

In [4]:
train_data = data[0:1160]
test_data = data[1160:1460]
train_y = train_data["SalePrice"]
train_x = train_data.drop(["SalePrice"],axis=1)
test_y = test_data["SalePrice"]
test_x = test_data.drop(["SalePrice"],axis=1)

In [12]:
model_GBR = GradientBoostingRegressor(n_estimators=200, learning_rate=0.1,subsample=0.7,max_features=12,min_samples_split=10,
                                      max_depth=2,loss='ls')
scores = cross_val_score(model_GBR, train_x, train_y, cv=5, scoring='neg_mean_squared_error')
np.sqrt(-scores.mean())

30908.665661954459

In [13]:
model_GBR.fit(train_x,train_y)
y_pred = model_GBR.predict(test_x)
y_true = test_y
MSE = sum((y_true-y_pred)*(y_true-y_pred))/300
RMSE = np.sqrt(MSE)
RMSE

25786.606527703676

In [123]:
y_pred = pd.DataFrame(y_pred)
y_pred.to_csv("GBR1.txt",index=False)

In [10]:
y_pred = model_GBR.predict(train_x)
y_true = train_y
MSE = sum((y_true-y_pred)*(y_true-y_pred))/1160
RMSE = np.sqrt(MSE)
RMSE

15645.314801474811